<div class="content_posts">
    <div class="content_post">
        <h1>{{ data.title }}</h1>
        <div ng-bind-html="data.texto"></div>
        <h4>by: {{ data.user.name }}</h4>
        <h4>
            tags:
            <div class="tags" >
                <a ng-repeat='tag in data.tags' href="/search/page/0/tags/{{ tag }}">{{ tag }}</a>
            </div>
        </h4>
    </div>

    <div ng-repeat="value in data.comments">
        <div class="content_post">
            {{ value.texto }}
            <h4>by: {{ value.user.name }}</h4>
        </div>
    </div>
</div>
<div class="content_posts">
    Add comment:<br />
    <div ng-if="user != undefined">
        <form action="/" method="post" name="comment">
            <textarea rows="5" cols="50" name="texto"></textarea>
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div ng-if="user == undefined">
        <a href="/login">require login</a>
    </div>
</div>