<h1>Search Tags</h1>
<div class="content_posts">
    <div class="content_post" ng-repeat='v in data.news.result' ng-bind-html-unsafe="v.texto">
        <h1><a href="/comments/{{v['_id']}}">{{ v.title }}</a></h1>
        <div ng-bind-html="v.texto"></div>
        <h4>by: {{ v.user.name }},
            <a href="/comments/{{v['_id']}}">
                {{ v.comments }} comments
            </a>
        </h4>
        <h4>
        tags:
            <div class="tags" >
                <a ng-repeat='tag in v.tags' href="/search/page/0/tags/{{ tag }}">{{ tag }}</a>&nbsp;
            </div>
        </h4>
    </div>
</div>
<!--
{% if values['kwargs']['news']['page'] == True %}
    {% if values['kwargs']['news']['page'] != 0 %}
        <a href="/search/page/{{values['kwargs']['news']['page']|int - 1}}/tags/{{values['kwargs']['tags']}}"><</a>
    {% endif %}
    {% if values['kwargs']['news']['page'] +1 < values['kwargs']['news']['n_posts']/10 %}
        <a href="/search/page/{{values['kwargs']['news']['page']|int + 1}}/tags/{{values['kwargs']['tags']}}">></a>
    {% endif %}
{% endif %}
-->