<!doctype html>
<html lang="es" ng-app="n3App">
    <head>
        <base href="/">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
        <script src="/static/app.js" ng-module="n3App"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: "textarea",
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
            });
        </script>
        <title>Ñ3 - {{title}}</title>
        <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="container">
            <header>
                <div class="logo">Ñ3</div>

                <div class="login" ng-if="user == undefined">
                    <a href="/login" target="_self">Login</a>
                </div>
                <div class="login" ng-if="user != undefined">
                        {{ user.name }} - <a href="/logout"  target="_self">Logout</a>
                </div>
                <div class="content_menu">
                    <a href="/">News</a>
                    <a href="/about">About</a>
                </div>
            </header>
            <div id="right_column">
            </div>
            <div class="body" ng-view></div>
        </div>
        <footer>
            By <a href="https://github.com/kianxineki/n3">n3</a>
        </footer>
    </body>
<html>
